.disclose {
	position: fixed;
}

/** wrap position */
.disclose--pos-topleft {
	top: 30px;
	left: 30px;
}
.disclose--pos-topright {
	top: 30px;
	right: 30px;
}
.disclose--pos-bottomleft {
	left: 30px;
	bottom: 30px;
}
.disclose--pos-bottomright {
	right: 30px;
	bottom: 30px;
}

/** notification position */
.disclose--pos-topleft .disclose__notification,
.disclose--pos-bottomleft .disclose__notification {
	left: 0;
}
.disclose--pos-topright .disclose__notification,
.disclose--pos-bottomright .disclose__notification {
	right: 0;
}

/** notification */
.disclose__notification {
	position: absolute;
	width: 300px;
	padding: 9px 24px;
	border: 2px solid #ccc;
	border-radius: 3px;
	background: #fff;
	transform: translateX(100%);
	transition: bottom .25s ease-out, opacity .25s ease-out, transform .25s ease-out;
	opacity: 0;
}
.disclose__notification .disclose__act-close {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 24px;
	height: 24px;
	border: 0;
	background: rgba(255, 0, 0, .5);
}

/** notification states */
.disclose__notification.disclose--shown {
	transform: translateX(0);
	opacity: 1;
}
.disclose__notification.disclose--sticky {
	padding-right: 57px;
}
.disclose--error {
	border-color: #de9186;
	color: #de9186;
}
.disclose--info {
	border-color: #66afe9;
	color: #66afe9;
}
.disclose--success {
	border-color: #79c174;
	color: #79c174;
}
.disclose--warning {
	border-color: yellow;
}
